$columns-offset: rem(40);

[class*="columns__col"] {
    margin-bottom: rem(35);
    
    &:last-child {
        margin-bottom: 0;
    }
}

@media(min-width: $smDesktopWidth) {
    .columns {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -($columns-offset / 2);
        margin-right: -($columns-offset / 2);

        // &--large-offsets {
        //     margin-left: -$columns-offset;
        //     margin-right: -$columns-offset;

        //     [class*="columns__col"] {
        //         padding: 0 $columns-offset;
        //     }
        // }

        // &--small {
        //     margin-bottom: 0;
        //     align-items: center;
        //     justify-content: flex-start;

        //     [class*="columns__col"] {
        //         margin-bottom: rem(30);
        //     }
        // }

        &--center {
            justify-content: center;
        }
    }

    [class*="columns__col"] {
        padding: 0 $columns-offset / 2;
        margin-bottom: rem(40);

        & > * {
            height: 100%;
        }
    }

    @for $i from 1 through 4 {
        .columns__col--#{$i} {
            min-width: 100% / $i;
            max-width: 100% / $i;
        }
    }
}
