.head-search {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.head-search__control {
    flex-basis: 100%;
    @include placeholder {
        color: inherit;
    }
}

.head-search__input {
    display: block;
    @include size(100%, rem(28));
    padding: 0;
    border: none;
}

.head-search__btn {
    display: block;
    min-width: rem(28);
    order: -1;
    border: none;
    padding: 0;
    background: none;
    margin-right: rem(4);

    svg {
        @include size(rem(14), rem(15));
        min-width: rem(14);
    }

    path {
        fill: currentColor;
    }
}


@media (min-width: $smDesktopWidth) {
    .head-search__control {
        display: none;
    }

    .head-search__btn {
        min-width: 0;
        margin: 0;
        padding: rem(6);
    }
}