.header {
    background: $headerBackground;
    color: $headerTextColor;
    position: relative;

    * {
        color: inherit;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.header__burger-link {
    display: block;
    width: rem(28);
    padding: rem(9 0);

    svg {
        height: rem(17);
        margin: 0 auto;
        
        &:first-child {
            display: block;
        }
        &:last-child {
            display: none;
        }
    }

    &.active {
        svg {
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

[class*="header__link"] {
    display: flex;
    align-items: center;
    font-size: rem(14);
}

.header__link {
    &-login {
        svg {
            @include size(rem(14));
            margin-right: rem(8);
        }

        path {
            fill: currentColor;
        }
    }

    &-webtrader {
        svg {
            @include size(rem(22), rem(16));
            margin-right: rem(10);
        }

        path {
            fill: currentColor;
            stroke: currentColor;
        }
    }

    &-phone {
        font-size: rem(16);

        svg {
            @include size(rem(23), rem(22));
            margin-right: rem(9);
        }
    }

    &-call {
        svg {
            @include size(rem(17));
            margin-right: rem(15);
        }

        path {
            &:not([class*="svg"]) {
                fill: currentColor;
                stroke: currentColor;
            }
            
            &.svg--only-stroke {
                stroke: currentColor;
            }

            &.svg--only-fill {
                fill: currentColor;
            }
        }
    }

    &-consultant {
        svg {
            @include size(rem(16), rem(19));
            margin-right: rem(16);
        }

        path {
            fill: currentColor;
            stroke: currentColor;
        }
    }
}


@media (min-width: $smDesktopWidth) {
    .header {
        .container {
            flex-wrap: nowrap;
            min-height: rem(40);
        }
    }
    .header__burger-link {
        display: none;
    }

    [class*="header__link"] {
        &:hover {
            text-decoration: underline;
            color: currentColor;
        }
    }

    .header__link-login {
        margin-left: rem(25);
    }

    .header__link {
        &-login {
            svg {
                min-width: rem(14);
            }
        }

        &-webtrader {
            svg {
                @include size(rem(18), rem(12));
                min-width: rem(18);
            }
        }

        &-phone {
            font-size: rem(20);

            svg {
                @include size(rem(23), rem(22));
                min-width: rem(23);
                margin-right: rem(7);
            }
        }

        &-call {
            svg {
                @include size(rem(15));
                min-width: rem(15);
                margin-right: rem(6);
            }
        }

        &-consultant {
            svg {
                @include size(rem(14), rem(17));
                min-width: rem(14);
                margin-right: rem(5);
            }
        }
    }
}

@media (min-width: $desktopWidth) {
    .header__link {
        &-phone {
            font-size: rem(20);
        }
    }
    
    .header__link-login {
        margin-left: rem(60);
    }
}