.language {
    position: relative;
    z-index: 1;

    .flag-icon {
        display: block;
        @include size(rem(20));
        min-width: rem(20);
        border: 1px solid $borderBase;
        border-radius: 50%;
        margin-right: rem(8);
        background-size: cover;
    }

    .language__body {
        transition: none;
    }
}

.language__select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: rem(3 0);

    svg {
        @include size(rem(14));
        margin-left: auto;
    }

    path {
        stroke: $primaryColor;
    }

    &:not(.closed) {
        svg {
            transform: rotate(180deg);
        }
    }
}

.language__body {
    display: none;
    padding: 0;

    &.visible {
        display: block;
    }
}

.language__list {
    column-count: 2;
    column-gap: rem(10);
    padding: rem(12 0 0);
    margin: 0;

    li {
        display: block;
        padding: rem(8 0 8 0);
    }
}

.language__link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.language__name {
    text-transform: capitalize;
}


@media (min-width: $smDesktopWidth) {
    .language {
        .flag-icon {
            border: none;
        }

        &:hover {
            .language__select {
                svg {
                    transform: rotate(180deg) !important;
                }
            }

            .language__body {
                opacity: 1;
                visibility: visible;
            }
        }
        
        .language__body {
            display: block;
            height: auto;
            background: $headerBackground;
            color: $headerTextColor;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: rem(-15);
            transition: $transition;
        }
    }

    .language__select {
        &:not(.closed) {
            svg {
                transform: rotate(0);
            }
        }

        .language__name {
            display: none;
        }
    }


    .language__list {
        column-count: 1;
        column-gap: 0;

        li {
            padding: 0;
        }
    }

    .language__link {
        display: flex;
        white-space: nowrap;
        padding: rem(8 15);
        background: transparent;

        &:hover {
            color: inherit;
            background: darken($headerBackground, 7%);
        }
    }
}