[data-accordion="content"] {
    display: block;
    height: 0;
    position: relative;
    overflow: hidden;
    transition: $transition;
    will-change: height;
    overflow: hidden;
    transition: height 300ms;
    will-change: height;

    &.opened {
        height: auto;
    }
}

.ways-accordion {
    position: relative;
    overflow: hidden;
}

.ways-accordion__item {
    margin-bottom: rem(12);
    &:after {
        display: table;
        line-height: 0;
        clear: both;
        content: '';
    }
}

.ways-accordion__name {
    min-height: rem(68);
    padding: rem(10 50 10 20);
    font-size: rem(19);
    background: rgba(#fff, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;

    &:not(.closed) {
        .ways-accordion__arrow {
            svg {
                transform: rotate(0);
            }
        }
    }

    & > * {
        flex-basis: 0;
    }
}

[class*="ways-accordion__icon"] {
    display: block;
    flex-grow: 2;
}

.ways-accordion__icon {
    &--trade {
        @include size(rem(59),rem(42));
        @include minMax(rem(59));
        margin-right: rem(20);
    }

    &--investing {
        @include size(rem(58),rem(51));
        @include minMax(rem(58));
        margin-right: rem(21);
    }

    &--involve {
        @include size(rem(61),rem(65));
        @include minMax(rem(61));
        margin-right: rem(18);
    }
}

.ways-accordion__arrow {
    display: block;
    width: rem(20);
    position: absolute;
    right: rem(15);
    top: 50%;
    transform: translateY(-50%);
    svg {
        display: block;
        width: 100%;
        height: auto;
        transform: rotate(180deg);
    }
}

.ways-accordion__content {
    margin-bottom: rem(12);
    position: relative;
}

.ways-accordion__content-wrap {
    padding-top: rem(20);
    position: relative;
    z-index: 1;

    &.--flex {
        display: block;
    }
}

.ways-accordion__text {
    font-size: rem(17);
    padding-bottom: rem(30);
    p {
        margin-bottom: rem(10);
    }
}

.ways-accordion__lamm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: rem(44);
    font-weight: 500;
    font-size: rem(16);
}

.ways-accordion__lamm-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(rem(44));
    min-width: rem(44);
    background: $successColor;
    border-radius: 50%;
    margin-right: rem(15);

    svg {
        @include size(rem(28), rem(19));
    }
}

.ways-accordion__image {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    &:before {
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(243,242,218,1) 0%,rgba(243,242,218,0) 100%);
        position: absolute;
        left: 0;
        top: 0;
        content: '';
    }
    img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 140%;
    }
}

.ways-accordion__video-link {
    &--round {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(100));
        border-radius: 50%;
        background: rgba(#000, 0.5);
        position: absolute;
        right: 5%;
        top: 35%;

        svg {
            @include size(rem(38), rem(46));
        }
    }
}

.ways-accordion__narrow-content {
    max-width: rem(640);
}

@media(min-width: $smDesktopWidth) {
    // .ways-accordion__item {
    //     display: block !important;
    // }
    .ways-accordion__item {
        display: none;
        margin: 0;

        .ways-accordion__content {
            height: auto !important;
            //max-width: rem(1200);
            //padding: rem(0 18 30);
            //display: block !important;
            margin: 0 auto;
            position: static;
        }
    }

    .ways-accordion__content-wrap {
        padding: {
            top: rem(50);
            bottom: rem(60);
        };

        &.--flex {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .ways-accordion__name {
        display: none !important;
    }

    .ways-accordion__image {
        display: block;
        // width: auto;
        // height: 100%;
        // right: 0;
        img {
            // max-width: none;
            // min-width: 100%;
            // min-height: 100%;
            // max-height: 100%;
        }
        // &:before {
        //     display: none;
        // }
    }

    .ways-accordion__text {
        font-size: rem(18);

        h2 {
            margin-bottom: rem(20);
        }
        
        .package__parent + & {
            padding-bottom: 0;
        }
    }

    // .ways-accordion.container {
    //     max-width: none;
    // }
}

@media(min-width: $desktopWidth) {
    .ways-accordion__video-link {
        &--round {
            right: 11%;
        }
    }
}