@font-face {
    font-family: 'pfDinTextPro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/pfdintextpro-regular.woff') format('woff'),
         url('../fonts/pfdintextpro-regular.woff2') format('woff2'),
         url('../fonts/pfdintextpro-regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'pfDinTextPro';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/pfdintextpro-italic.woff') format('woff'),
         url('../fonts/pfdintextpro-italic.woff2') format('woff2'),
         url('../fonts/pfdintextpro-italic.ttf')  format('truetype');
}

@font-face {
    font-family: 'pfDinTextPro';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/pfdintextpro-medium.woff') format('woff'),
         url('../fonts/pfdintextpro-medium.woff2') format('woff2'),
         url('../fonts/pfdintextpro-medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'pfDinTextPro';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/pfdintextpro-mediumitalic.woff') format('woff'),
         url('../fonts/pfdintextpro-mediumitalic.woff2') format('woff2'),
         url('../fonts/pfdintextpro-mediumitalic.ttf')  format('truetype');
}

@font-face {
    font-family: 'pfDinTextPro';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/pfdintextpro-light.woff') format('woff'),
         url('../fonts/pfdintextpro-light.woff2') format('woff2'),
         url('../fonts/pfdintextpro-light.ttf')  format('truetype');
}

@font-face {
    font-family: 'pfDinTextPro';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/pfdintextpro-lightitalic.woff') format('woff'),
         url('../fonts/pfdintextpro-lightitalic.woff2') format('woff2'),
         url('../fonts/pfdintextpro-lightitalic.ttf')  format('truetype');
}