// Font
$mainFont                : 'pfDinTextPro', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 15; //px
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$xlDesktopWidth          : 2560px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color

$pageBackground          : #f0eff0;
$defaultColor            : #424243;
$headerBackground        : #423D33;
$headerTextColor         : #fff;
$footerBackground        : #EEEEEE;
$footerTextColor         : $defaultColor;
$primaryColor            : #009E82;
$successColor            : #FDCD53;
$dangerColor             : #D83C35;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;

// Neutral Colorhow-work__title
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
$borderBase              : #e6e6e6;
$borderLight             : #BEBEBE;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;

// Button Color
$btnPrimary: $primaryColor;
$btnPrimaryText: #fff;
$btnPrimaryHover: darken($btnPrimary, 7%);
$btnDanger: $dangerColor;
$btnDangerText: #fff;
$btnDangerHover: darken($btnDanger, 7%);
$btnSuccess: $successColor;
$btnSuccessText: $mainFontColor;
$btnSuccessHover: darken($btnSuccess, 7%);

$containerPadding: 20;
$globalRadius: 3px;
$mainBoxShadow: rem(0 8 22) rgba(0, 0, 0, 0.15);

$transition: all 200ms ease;

//Flags
$flag-icon-css-path: '/dist/src/images/flags';