*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font: normal #{$mainFontSize / 320 * 100 + vw}/$mainLineHeight $mainFont;
    color: $defaultColor;
    background: $pageBackground;
    @include size(100%);
}

body {
    @include size(100%);
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: rem(1240);
    padding: rem(0 $containerPadding);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $primaryColor;
    transition: $transition;

    &:hover {
        color: darken($primaryColor, 7%);
    }
}

p {
    margin: rem(0 0 20);
}

svg,
img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

h1,
.h1 {
    font-size: rem(32);
    line-height: 1.208;
    font-weight: 300;
    margin: rem(0 0 30);
}

h2,
.h2 {
    font-size: rem(26);
    line-height: 1.208;
    font-weight: 300;
    margin: rem(0 0 22);
}

h3,
.h3 {
    font-size: rem(22);
    line-height: 1.4385;
    font-weight: 300;
    margin: rem(0 0 30);
}

.--fw-light {
    font-weight: 300;
}

.--fw-medium {
    font-weight: 500;
}

.--fw-bold {
    font-weight: bold;
}

.--color-primary {
    color: $primaryColor;
}

.--visible-mobile {
    display: block;

    &-flex {
        display: flex;
    }
}

.--flex {
    display: flex;
}



@media (max-width: $smDesktopWidth - 1) {
    .--hidden-mobile {
        display: none !important;
    }
}

@media (min-width: 640px) {
    html {
        font-size: 25 / 640 * 100 + vw;
    }
}

@media (min-width: $phoneWidth) and (orientation: landscape) {
    html {
        font-size: 15 / 480 * 100 + vw;
    }
}

@media (min-width: $tableWidth) {
    html {
        font-size: 25 / 768 * 100 + vw;
    }
}

@media (min-width: $smDesktopWidth) {
    html {
        font-size: 15px;
    }

    h1,
    .h1 {
        font-size: rem(48);
        line-height: 1.2;
        margin: rem(0 0 26);
    }

    h2,
    .h2 {
        font-size: rem(36);
        margin-bottom: rem(35);
    }

    h3,
    .h3 {
        font-size: rem(24);
        margin: rem(0 0 35);
    }

    [class*="visible-mobile"] {
        display: none !important;
    }
}

@media (min-width: $xlDesktopWidth) {
    html {
        font-size: 15 / 2560 * 100 + vw;
    }
}